<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Correção de Gabarito</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container">
<img src="etec_itanhaem.png" alt="" class="img-cps">
<h1>Upload do gabarito</h1>
<a href="#"><i class="fa-solid fa-right-to-bracket"></i>Sair</a>
</div>

<div class="container2">
    <div class="gab-of">
        <p>Gabarito oficial:</p>
        <br>
        <i class="fa-solid fa-file"></i> <input type="file" id="gabarito">
    </div>
    <div class="gab-al">
        <p>Resposta do aluno:</p>
        <br>
        <i class="fa-solid fa-file"></i> <input type="file" id="aluno"><br><br>
    </div>

            <!-- INVISIVEIS -->
            <input type="number" id="numQuestoes" value="5"  style="display: none;" ><br><br>
            <input type="number" id="numAlternativas" value="5" style="display: none;"><br><br>
            <!-- FIM -->

        <button onclick="enviar()" id="button">Corrigir</button>
    <div id="resultado">
        <h2>Resultado:</h2>
    </div>
</div>
    
<script>
function enviar() {
    const gabarito = document.getElementById('gabarito').files[0];
    const aluno = document.getElementById('aluno').files[0];
    const nome = document.getElementById('nome').value;
    const rm = document.getElementById('rm').value;
    const numQuestoes = document.getElementById('numQuestoes').value;
    const numAlternativas = document.getElementById('numAlternativas').value;

    if (!gabarito || !aluno) { alert("Escolha ambas as imagens"); return; }
    if (!nome || !rm) { alert("Digite nome e RM"); return; }

    const formData = new FormData();
    formData.append('gabarito', gabarito);
    formData.append('aluno', aluno);
    formData.append('nome', nome);
    formData.append('rm', rm);
    formData.append('num_questoes', numQuestoes);
    formData.append('num_alternativas', numAlternativas);

    fetch('http://127.0.0.1:5000/corrigir', { method: 'POST', body: formData })
    .then(res => res.json())
    .then(data => {
        if(data.error){ alert("Erro: " + data.detalhes); return; }

        document.getElementById('resultado').innerHTML = `
            <p>Respostas gabarito: ${data.respostas_gabarito.join(', ')}</p>
            <p>Respostas aluno: ${data.respostas_aluno.join(', ')}</p>
            <p>Nota: ${data.nota.toFixed(2)} (${data.acertos}/${data.total} acertos)</p>
            <p>Erros: ${data.erros.join(' | ')}</p>
        `;

        document.getElementById('pdfContainer').innerHTML = `<iframe src="${data.pdf_url}" width="100%" height="600px"></iframe>`;
    })
    .catch(err => console.error(err));
}
</script>
</body>
</html>
